/* Write your CSS here */
.app-container {
  background-color: #ffc2a0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.simple-todos-container {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: cover;
  padding: 20px;
  width: 90%;
  margin-top: 48px;
  margin-bottom: 48px;
  max-width: 1110px;
}

.heading {
  color: #ff8542;
  font-size: 32px;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 16px;
  font-family: "Roboto";
  font-weight: bold;
}
.todos-list{
  padding-left: 0px;
}

